*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    color: #333;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #72c5ca;
    cursor:pointer;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.about-page {
    /*display: none;*/
}

.back-button {
    position: relative;
    font-size: 4em;
    left: 30px;
    top:10px;
    cursor: pointer;
}

.back-button:hover {
    color: #555;
}

.body {
    position: relative;
    width: 100%;
    height: 100%;
}

.body-about {
    left: 27%;
}

.body-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/textured-white-paper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .5;
}

.body-border {
    position: fixed;
    width: 95%;
    height: 95%;
    margin: 1% 2.5%;
    border: 3px solid #333;
}

.body-clickable:hover {
    color: #72c5ca;
    cursor:pointer;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.body-divide {
    left: 50%;
    color: #555;
}

.body-detail {
    position: relative;
    font-size: 2em;
    color: #555;
}

.body-email {
    top: 150px;
    text-align: center;
}

.body-name {
    font-size: 7em;
    position: absolute;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid black;
}

.body-projects {
    left:53%;
}

.body-subtitle {
    display: inline-block;
    font-size: 3em;
    margin: 0 10px;
}   

.body-subtitle-wrapper {
    position: relative;
    width: 100%;
    height: 4em;
    text-align: center;
    top: 150px;
    -webkit-backface-visibility: unset !important;
    -moz-backface-visibility: unset !important;
    -o-backface-visibility: unset !important;
    backface-visibility: unset !important;
}

.body-text {
    position: absolute;
    width: 600px;
    /*height: 300px;*/
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
}

.clearfix {
    clear: both;
}

.resume-link {
    text-decoration: none;
    color:#333;
}

.resume-link:hover {
    color:#72c5ca;
    text-decoration: underline;
}

.row {
    font-size: 1.3em;
    padding: 30px;
    border: 1px solid #333;
    text-align: center;
}

.row.half {
    width: 300px;
    margin: 0;
}
.row.half.left {
    float: left;
    font-family: 'Consolas', sans-serif;
    font-size: 1.9em;
    padding: 12.5px;
    font-weight: bolder;
    background-size: 100%;
    color: rgb(51, 51, 51);
}

.row.half.left:hover {
    background-image: url("../img/tech.png");
}

.row.half.right{
    float: right;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 13px;
    font-size: 3em;
    background: none;
    color: #333;
}

.row.half.right:hover{
    background-image: url("../img/flowers.jpg");
}

.row.title {
    background-color: #333;
    color: #ddd;
    font-size: 1.7em;
    font-weight: 900;
}

/*Typewriter animation*/
.line{
    font-family: "Anonymous Pro" , sans-serif;
    position: relative;
    top: 50%;  
    width: 24em;
    line-height: 3;
    height:12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 1s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter:hover{
    -webkit-animation-play-state: running;
    animation-play-state:running;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


#typedtext {
    text-align: justify;
}